section {
	position: relative;
	top: -280px;
	background-color: $bg_color;
	z-index: 1;
	@include background-cover();
}
.container {
	position: relative;
	max-width: $container_mw;
	padding: 0 $container_padding;
  margin: 0 auto;
}
// Float n stuff
.clear,
.clearfix,
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.left { float: left }
.right { float: right; }