.banner {
	position: relative;
	max-height: 100vh;
	padding: 0;
	@include background-cover();
	.banner-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		text-align: center;
		z-index: 1;
		.logo-font {
			margin: auto;
			font-size: 16vw;
			@include max-width(800px) {
				font-size: 26vw;
			}
		}
	}
}