.banner {
	position: relative;
	top: 0;
	height: calc(56.25vw + 250px);
	padding: 0;
	@include background-cover();
	background-attachment: fixed;
	.banner-content {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		text-align: center;
		z-index: 1;
		.logo-font {
			margin: auto;
			font-size: 14vw;
			color: #404040;
			@include max-width(800px) {
				font-size: 26vw;
			}
		}
	}
}