.video {
	position: relative;
	height: 56.25vw;
	z-index: 2;
	.video-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		text-align: center;
		z-index: 1;
		iframe, img {
			width: 65vw;
			height: 37vw;
			margin: auto;
			@include max-width(800px) {
				width: 90vw;
				height: 45vw;
			}
		}
		img {
			height: auto;
		}
	}
}