header {
	position: fixed;
	width: 100%;
	@include padding($padding, $padding, $padding, $padding);
	z-index: 103;
	.logo-icon {
		font-size: 5vw;
		@include max-width(800px) {
			font-size: 10vw;
		}
	}
	nav {
		/* TODO */
	}
}